:root {
    --primary-color: #363636;
    --secondary-color: #5c5c5c;
    --tertiary-color: #394867;
    --quaternary-color: #9BA4B4;
  }
  
  .primary-color {
    background-color: var(--primary-color) !important;
  }
  
  .secondary-color {
    background-color: var(--secondary-color) !important;
  }
  
  .tertiary-color {
    background-color: var(--tertiary-color)!important;
  }
  
  .quaternary-color {
    background-color: var(--quaternary-color) !important;;
  }

  .text-light {
    color: #fff !important;
  }

.box_item_ads_popup{
  display: none !important;
}

.border-radius-1{
  border-radius: 1% !important;
}
.border-radius-2{
  border-radius: 2% !important;
}
.border-radius-3{
  border-radius: 3% !important;
}
.border-radius-4{
  border-radius: 4% !important;
}
.border-radius-5{
  border-radius: 5% !important;
}

.text-decoration-none {
  text-decoration: none !important;
}
  